html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  width: 100%;
  position: relative;
  padding-top: 4remp;
}

.robot {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.robot-body {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 4rem;
  transform: translate(297%);
  transition:  all 200ms linear;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 1.6rem;
  transition:  all 200ms linear;

}
